.menu nav {
    width: 100%;
    height: 90px;
    background-color: rgb(34, 106, 169);
    padding-top: 5px;
    box-sizing: border-box;
    /* position: fixed; */
}
.menu ul {
    display: flex;
}
.menu li {
    list-style: none;
}
.menu a {
    display: block;
    text-decoration: none;
    color: wheat;
    margin-right: 35px;
    text-align: center;
}
.menu a:hover {
    text-decoration: underline;
}
head{
    width: 100%;
}