table {
    border: solid 1px;
}
table th {
    border: solid 1px;
    padding: 10px;
}
table td {
    border: solid 1px;
    padding: 10px;
}
.center {
    text-align: center;
}
.right{
    text-align: right;
}
main{
    position: absolute;
    width: 85%;
    left: 5%;
}
ol.list_parentheses{
    padding: 0 0 0 2em;
}
ol.list_parentheses li{
    list-style-type: none;
    list-style-position: inside;
    counter-increment: cnt;
    margin: 0.5em;
}
ol.list_parentheses li:before{
    display: marker;
    content: "(" counter(cnt) ") ";
}
.ans {
    border: solid 2px black;
}
@media print {
    .no-print {
        display: none;
    }
    /* 参考:https://iifx.dev/ja/articles/1265761/%E5%8D%B0%E5%88%B7%E6%99%82%E3%81%AB%E8%A6%81%E7%B4%A0%E3%82%92%E9%9A%A0%E3%81%99%E9%AD%94%E6%B3%95-css%E3%81%AE%E3%83%A1%E3%83%87%E3%82%A3%E3%82%A2%E3%82%AF%E3%82%A8%E3%83%AA%E5%BE%B9%E5%BA%95%E8%A7%A3%E8%AA%AC-%E3%83%88%E3%83%A9%E3%83%96%E3%83%AB%E8%A7%A3%E6%B1%BA%E6%B3%95%E3%81%A4%E3%81%8D */
}
.new-section {
    break-before: page;
}